.login-page {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border: 1px solid #db3939;
  border-radius: 5px;
  background-color: #b12222;
  font-family: "Arial", sans-serif;
  align-items: center;
}
.login-page h2 {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}
.login-page h3 {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}
.Fill1 {
  margin-bottom: 5px;
  text-align: center;
  
}
.Fill1 input {
  width: 80%;
  padding: 10px;
  
  border-radius: 4px;
    font-size: 16px;
    text-align: center;
}

.Fill2 {
  margin-bottom: 20px;
  text-align: center;
}
.Fill2 input {
  width: 80%;
  padding: 10px;
  
  border-radius: 4px;
    font-size: 16px;
    text-align: center;
}

.error {
  color: #ffffff;
  text-align: center;
  margin-bottom: 15px;
}
.loginButton {
  width: 84%;
  margin-left: 48px;
  padding: 10px;
  background-color: #d49714;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
    font-size: 16px;
    
}
.employee-Toggle {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    margin-left: 225px;
    
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;

}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
    width: 150px;
    text-align: left;
    padding-left: 5px;
    line-height: 35px;
    color:#d49714;   
    
}

.slider:before {
    position: absolute;
    
    height: 26px;
    width: 75px;
    left: 4px;
    bottom: 4px;
    background-color: #d49714;
     -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
    content: "Student";
    color:#ffffff;
    text-align: center;
    line-height: 26px;
}

input:checked + .slider {
    background-color:#ffffff;
    line-height: 35px;
    color:#d49714;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
    -webkit-transform: translateX(75px);
    -ms-transform: translateX(75px);
    transform: translateX(75px);
    background-color: #d49714;
    color:#ffffff;
    
}