
.sidebar {
    width: 250px;
    background-color: #590016;
    color: white;
    padding: 20px;
    margin-right:30px;
}
.sidebar a {
    padding-bottom: 6px;
    display: block;
    margin: 10px 0;
    color: white;
    font-size: 16px;
    text-decoration: underline;
}

.sidebar button { 
    margin-bottom: 15px;
    padding: 0;
    font-size: 16px;
    background: none;
    border: none;
    color: white;
    text-decoration: underlin3;
}

.signOut {
    margin-top: "20px";
    padding: "10px 20px";
    font-size: "16px";
    
}