.course {
    border: 2px solid #590016;
    border-radius: 10px;
    margin: 10px 10px 15px 0px;
    padding: 0px;
    width: 600px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
.course h2 {
    background-color: #590016;
    color: white;
    margin: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px;
}
.coursecontent {
    padding: 10px;
}
.coursecontent h3 {
    margin: 0px;
}
.coursecontent ul {
    margin: 10px -5px;
    line-height: 25px;
}
.coursecontent button {
    background-color: white;
    color: #590016;
    font-size: 12px;
    border: 1.5px solid #590016;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(89, 0, 22, 0.15);
    cursor: pointer;
}
.addMenu {
    border: 2px solid #590016;
    border-radius: 10px;
    padding: 0px;
    width: 600px;
}
.addMenu h2{
    background-color: #590016;
    color: white;
    margin: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px;
}
.new-courseinfo label{
    display: flex;
    flex-direction: column;
    margin: 10px
}
.new-courseinfo input {
    margin-top: 5px;
    padding: 3px;
    border: 1px solid #590016;
    border-radius: 4px;
    caret-color: #590016
}
.new-courseinfo input:focus {
    outline: none;
    border-width: 2px;
}
.addMenu button {
    background-color: white;
    color: #590016;
    font-size: 12px;
    border: 1.5px solid #590016;
    border-radius: 5px;
    margin: 5px 0px 10px 10px;
    box-shadow: 0 4px 6px rgba(89, 0, 22, 0.15);
    cursor: pointer;
}
button:hover {
    box-shadow: 0 4px 6px rgba(89, 0, 22, 0.4);
}
button:active {
    background-color: #590016;
    color: white;
}
