.sidebar {
    width: 250px;
    background-color: #590016;
    color: white;
    padding: 20px;
    margin-right:30px;
}
.sidebar a {
    padding: 0;
    display: block;
    margin: 10px 0;
    color: white;
    text-decoration: underline;
}
/*.sidebar button { this styles the buttons the same as the courses
    padding: 0;
    margin: 10px 0;
    background: none;
    border: none;
    color: white;
    text-decoration: underline;
    font-size: 16px;
}*/
.sidebar button { /* this styles the buttons as buttons with borders and stuff*/
    padding: 5px 10px;
    margin: 7px auto 5px;
    background-color: #590016;
    color: white;
    font-size: 12px;
    border: 1px solid white;
    border-radius: 3px;
    cursor: pointer;
}

.signOut {
    margin-top: "20px";
    padding: "10px 20px";
    font-size: "16px";
    
}