main {
    margin-top: 30px;
}
.course-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    justify-content: start;
    padding-right: 20px;
}
.course {
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    padding: 20px 15px 30px;
}
.course:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.2)
}
.course h2 {
    color: black;
    margin: 0;
    padding: 5px 10px;
    font-size: 22px;
}
.course p {
    font-style: bold;
    padding: 0px 10px;
}
.coursecontent button {
    background-color: #590016;
    color: white;
    font-size: 12px;
    border: 1.5px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(89, 0, 22, 0.15);
    padding: 8px 10px;
    margin: 0px 10px;
    cursor: pointer;
}
.course-link {
    text-decoration: none;
    color: inherit;
}

#add {
    margin-bottom: 20px; 
    padding: 20px;
    border: none;
    border-radius: 10px;
    background-color: #590016;
    color: white;
    font-size: 14px;
    font-weight: bolder;
}
.addMenu {
    border: 1px solid #ddd;
    border-left: 3px solid #870626;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    padding: 20px 15px 30px;
    margin-bottom: 20px;
    margin-right: 20px;
}
.addMenu h2 {
    margin-left: 10px;
}
.new-courseinfo label{
    display: flex;
    flex-direction: column;
    margin: 10px
}
.new-courseinfo input {
    margin-top: 5px;
    padding: 3px;
    border: 1px solid #ddd;
    border-radius: 4px;
    caret-color: #870626
}
.new-courseinfo input:focus {
    outline: none;
    border-width: 2px;
}
.addMenu button {
    background-color: white;
    color: #590016;
    font-size: 12px;
    border: 1.5px solid #590016;
    border-radius: 5px;
    margin: 5px 0px 10px 10px;
    box-shadow: 0 4px 6px rgba(89, 0, 22, 0.15);
    cursor: pointer;
}
button:hover {
    box-shadow: 0 4px 6px rgba(89, 0, 22, 0.4);
}
button:active {
    background-color: #590016;
    color: white;
}
